.App {
    background-color: bisque;
    height: 100vh;
    text-align: center;
}

h1, h2 {
    text-align: center;
    font-family: climbing_plantregular; /* here */

}

@font-face {
    font-family: 'climbing_plantregular';
    src: url('./styles/peteboysclimbingplant-wq4a-webfont.woff2') format('woff2'),
         url('./styles/peteboysclimbingplant-wq4a-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}